In [1]:
import pandas as pd
import numpy as np

In [2]:
Data = pd.read_csv("Data/train.csv", nrows=10_000_000)

 # Computing Distance

In [3]:
Data["abs_latitude"]=abs(Data["pickup_latitude"]-Data["dropoff_latitude"])
Data["abs_longitude"]=abs(Data["pickup_longitude"]-Data["dropoff_longitude"])

In [4]:
Data["Vector"] = Data["abs_latitude"] + Data["abs_longitude"]

In [5]:
Data_na=Data.dropna()

In [11]:

Data_na

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_latitude,abs_longitude,Vector
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.009041,0.002701,0.011742
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,0.070701,0.036780,0.107481
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.010708,0.008504,0.019212
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,0.024949,0.004437,0.029386
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,0.015754,0.011440,0.027194
...,...,...,...,...,...,...,...,...,...,...,...
9999995,2012-08-12 01:18:00.000000208,5.7,2012-08-12 01:18:00 UTC,-73.999464,40.728452,-73.993299,40.742100,2,0.013648,0.006165,0.019813
9999996,2013-08-07 10:28:00.000000147,5.5,2013-08-07 10:28:00 UTC,-73.968467,40.759367,-73.964967,40.769027,1,0.009660,0.003500,0.013160
9999997,2013-10-29 08:29:00.00000082,14.0,2013-10-29 08:29:00 UTC,-73.997952,40.733717,-73.973448,40.759122,5,0.025405,0.024504,0.049909
9999998,2012-04-07 16:41:33.0000004,10.5,2012-04-07 16:41:33 UTC,-73.992700,40.752021,-73.964705,40.772849,1,0.020828,0.027995,0.048823
9999999,2010-03-30 19:27:00.00000066,8.5,2010-03-30 19:27:00 UTC,-73.965390,40.768572,-73.998188,40.761073,1,0.007499,0.032798,0.040297

In [7]:
df = Data_na
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
Data_na['DateTime'] = pd.to_datetime(Data_na['pickup_datetime'])

In [19]:
Data_na['pickup_datetime']

0          2009-06-15 17:26:21 UTC
1          2010-01-05 16:52:16 UTC
2          2011-08-18 00:35:00 UTC
3          2012-04-21 04:30:42 UTC
4          2010-03-09 07:51:00 UTC
                    ...
9999995    2012-08-12 01:18:00 UTC
9999996    2013-08-07 10:28:00 UTC
9999997    2013-10-29 08:29:00 UTC
9999998    2012-04-07 16:41:33 UTC
9999999    2010-03-30 19:27:00 UTC
Name: pickup_datetime, Length: 9999931, dtype: object